# Byte-compiled / optimized / DLL files

pycache/
*.pyc
*.pyo
*.pyd

# Virtual Environments

env/
venv/
ENV/

# Streamlit

.streamlit/

# VS Code settings (opcional, por si acaso)

.vscode/

# Scripts locales de diagnóstico (No subir al repo)

test_selenium.py
get_token.py